@font-face {
    font-family: "Publico Banner Web Ultra";
    src: url("//db.onlinewebfonts.com/t/4b034aa42968984e20335429f8370be8.eot");
    src: url("//db.onlinewebfonts.com/t/4b034aa42968984e20335429f8370be8.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/4b034aa42968984e20335429f8370be8.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/4b034aa42968984e20335429f8370be8.woff") format("woff"), url("//db.onlinewebfonts.com/t/4b034aa42968984e20335429f8370be8.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/4b034aa42968984e20335429f8370be8.svg#Publico Banner Web Ultra") format("svg");
}

@font-face {
    font-family: "Diverda Sans Com";
    src: url("//db.onlinewebfonts.com/t/3fc7fbbcf10d563f006158f0aa671ab9.eot");
    src: url("//db.onlinewebfonts.com/t/3fc7fbbcf10d563f006158f0aa671ab9.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/3fc7fbbcf10d563f006158f0aa671ab9.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/3fc7fbbcf10d563f006158f0aa671ab9.woff") format("woff"), url("//db.onlinewebfonts.com/t/3fc7fbbcf10d563f006158f0aa671ab9.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/3fc7fbbcf10d563f006158f0aa671ab9.svg#Diverda Sans Com") format("svg");
}