.containerImg {
    background-color: #F0F0F0;
}

.dot {
    background-color: #FFF;
    box-shadow: 0 0 5px #696969;
    height: 15px;
    width: 15px;
    margin: 0 10px;
}

.activeDot {
    height: 16px !important;
    width: 16px !important;
    margin: 0 10px;
    background-color:  #5F0F01;
}

.arrow .caretIcon {
    color: #FFF;
}

.arrowsContainer {
    margin-top: -15px;
    display: flex !important;
    align-items: flex-end;
}


@media screen and (min-width: 1024px) {
    .arrowsContainer {
        margin-top: 0;
        align-items: center;
    }
}

.arrowsContainerWrapper .arrowsContainer{
    max-width: 100% !important;
}