:global(.vtex-breadcrumb-1-x-container) {
    display: flex;
    justify-content: start;
    align-items: center;
}

:global(.vtex-breadcrumb-1-x-link) {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: bold;
}

:global(.vtex-breadcrumb-1-x-caretIcon) {
    display: none;
}

:global(.vtex-breadcrumb-1-x-arrow)::before {
    content: "/";
} 

:global(.vtex-breadcrumb-1-x-term) {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: bold;
}