:global(.vtex-product-summary-2-x-containerNormal) {
    max-width: 260px !important;
}

:global(.vtex-product-summary-2-x-productBrand ) {
    font-family: 'Noto Sans JP', sans-serif;
    text-transform: capitalize;
    color: #3f3f40;
    padding: 0px 5px;
}

:global(.vtex-product-summary-2-x-installmentContainer) {
    display: none;
}

:global(.vtex-product-summary-2-x-element) 
:global(.vtex-button) { 
    border-radius: 100px;
    width: 150px!important;
    background: white!important;
    border: 2px solid #8bc34a!important;
    margin: auto;
    padding: 8px 0px;
}
:global(.vtex-product-summary-2-x-element) 
:global(.vtex-button):hover { 
    background: #8bc34a!important;
    color: white!important;
}

:global(.vtex-product-summary-2-x-element) 
:global(.vtex-button):hover :global(.vtex-menu-2-x-styledLinkContent--menu-item-link ) {
    color: white!important;
}

:global(.vtex-product-summary-2-x-element) {
    border: 1.9px solid #eee;
    padding: 0px !important;
    padding-bottom: 10px !important;
} 